body {
	font-family: "proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 16px;
	line-height: 1.42857;
	color: rgb(85, 85, 85);
}

.alert {
	width: 15%;
	display: block;
	padding: 10px;
	background: #FF6C6C;
	color: #fff;
	border: 1px solid #FF4F53;
	margin-bottom: 5px;
}

.success {
	width: 15%;
	display: block;
	padding: 10px;
	background: #8AFF33;
	color: #fff;
	border: 1px solid #1BFC53;
	margin-bottom: 5px;
}

.block {
	border: 1px solid #ccc;
}

.paginationLink {
	background: #ccc;
}

.paginationLink a {
	display: block;
	padding: 5px;
}